body {
  font-family: 'Poppins', sans-serif;
}

img {
  transition: transform 1s, filter 1s ease-in-out;
  object-fit: cover;
  object-position: center;
}

h2 {
  transition: all 1s;
}
.fs-12 {
  font-size: 12px;
}
.fs-10 {
  font-size: 10px;
}

.text-gray {
  color: #84829a;
}

.bg-light-blue {
  background-color: #4f46e5;
  color: white;
}

.headline {
  font-size: 24px;
  color: #0e0b4c;
  font-weight: 600;
}

.headline:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5%;
  height: 3px;
  background-color: #4f46e5;
}

.cardHover:hover img {
  transform: scale(1.1);
}
.cardHover:hover h2 {
  color: #4f46e5;
  transition: all 1s;
}
.card-img-overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  top: unset;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 15rem;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
